@import "compass";
@mixin retinaSprite($sprite, $name){
	width: pxToRem(image-width(sprite-file($sprite, $name)));
	height: pxToRem(image-height(sprite-file($sprite, $name)));
	// $xpos: pxToRem(round(nth(sprite-position($sprite, $name), 1)));
	// $ypos: pxToRem(round(nth(sprite-position($sprite, $name), 2)));
	// background-position: $xpos $ypos;
	$ypos: removePx((round(nth(sprite-position($sprite, $name), 2)) / (sprite-height($sprite) - image-height(sprite-file($sprite, $name)))) * -1)* 100%;
	background-position: 0% $ypos;
}
@function pxToRem ($value){
    $value : removePx($value);
    @return $value / 20 * 1rem;
}
//去单位px
@function removePx ($value){
    $value : $value / ($value * 0 + 1);  
    @return $value;
}
@mixin retinaAnimation($sprite, $delay:false){
	$list: sprite-names($sprite);
	$length: length($list);
	$progress: 0;
	$per: 0;
	@if $delay{
		$per: 50/$length;
		$progress: 50+$per;
	}@else{
		$per: 100/$length;
		$progress: $per;
	}
	
	@keyframes #{sprite-map-name($sprite)}{
		@each $name in $list{
			#{$progress}%{
				@include retinaSprite($sprite, $name);
			}
			$progress: $progress+$per;
		}
	}
	
}
// 指定雪碧地图到指定变量
$cat: sprite-map("cat/*.png", $layout : 'vertical');
$cow: sprite-map("cow/*.png", $layout : 'vertical');
$crocodile: sprite-map("crocodile/*.png", $layout : 'vertical');
$cryMouse: sprite-map("cryMouse/*.png", $layout : 'vertical');
$dog: sprite-map("dog/*.png", $layout : 'vertical');
$fish: sprite-map("fish/*.png", $layout : 'vertical');
$fly: sprite-map("fly/*.png", $layout : 'vertical');
$grandma: sprite-map("grandma/*.png", $layout : 'vertical');
$icon: sprite-map("icon/*.png", $layout : 'vertical');
$king: sprite-map("king/*.png", $layout : 'vertical');
$lyingPig: sprite-map("lyingPig/*.png", $layout : 'vertical');
$money: sprite-map("money/*.png", $layout : 'vertical');
$moneyCat: sprite-map("moneyCat/*.png", $layout : 'vertical');
$monkey: sprite-map("monkey/*.png", $layout : 'vertical');
$noble: sprite-map("noble/*.png", $layout : 'vertical');
$noMoney: sprite-map("noMoney/*.png", $layout : 'vertical');
$pig: sprite-map("pig/*.png", $layout : 'vertical');
$pixiu: sprite-map("pixiu/*.png", $layout : 'vertical');
$superman: sprite-map("superman/*.png", $layout : 'vertical');
$swing: sprite-map("swing/*.png", $layout : 'vertical');
$toothBrush: sprite-map("toothBrush/*.png", $layout : 'vertical');
$wind: sprite-map("wind/*.png", $layout : 'vertical');


// .firstTime{
// 	.ani{
// 		background: $dog no-repeat;
// 		background-size: pxToRem(round(image-width(sprite-path($dog)))) auto;
// 		@include retinaAnimation($dog, $delay:true);
// 		animation: #{sprite-map-name($dog)} 2s step-start infinite both;
// 	}
// }
// .manyTimes{
// 	.ani{
// 		background: $toothBrush no-repeat;
// 		background-size: pxToRem(round(image-width(sprite-path($toothBrush)))) auto;
// 		@include retinaAnimation($toothBrush, $delay:true);
// 		animation: #{sprite-map-name($toothBrush)} 2s step-start infinite both;
// 	}
// }

// .page2{
// 	&.kind1{
// 		.ani{
// 			background: $fly no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($fly)))) auto;
// 			@include retinaAnimation($fly, $delay:true);
// 			animation: #{sprite-map-name($fly)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind2{
// 		.ani{
// 			background: $cow no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($cow)))) auto;
// 			@include retinaAnimation($cow, $delay:true);
// 			animation: #{sprite-map-name($cow)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind3{
// 		.ani{
// 			background: $crocodile no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($crocodile)))) auto;
// 			@include retinaAnimation($crocodile, $delay:true);
// 			animation: #{sprite-map-name($crocodile)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind4{
// 		.ani{
// 			background: $cryMouse no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($cryMouse)))) auto;
// 			@include retinaAnimation($cryMouse, $delay:true);
// 			animation: #{sprite-map-name($cryMouse)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind5{
// 		.ani{
// 			background: $wind no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($wind)))) auto;
// 			@include retinaAnimation($wind, $delay:true);
// 			animation: #{sprite-map-name($wind)} 2s step-start infinite both;
// 		}
// 	}
	
// }
// .page3{
// 	&.kind1{
// 		.ani{
// 			background: $cat no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($cat)))) auto;
// 			@include retinaAnimation($cat, $delay:true);
// 			animation: #{sprite-map-name($cat)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind2{
// 		.ani{
// 			background: $swing no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($swing)))) auto;
// 			@include retinaAnimation($swing, $delay:true);
// 			animation: #{sprite-map-name($swing)} 2s step-start infinite both;
// 		}
// 	}
// }
// .page4{
// 	&.kind1{
// 		.ani{
// 			background: $moneyCat no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($moneyCat)))) auto;
// 			@include retinaAnimation($moneyCat, $delay:true);
// 			animation: #{sprite-map-name($moneyCat)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind2{
// 		.ani{
// 			background: $pig no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($pig)))) auto;
// 			@include retinaAnimation($pig, $delay:true);
// 			animation: #{sprite-map-name($pig)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind3{
// 		.ani{
// 			background: $icon no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($icon)))) auto;
// 			@include retinaAnimation($icon, $delay:true);
// 			animation: #{sprite-map-name($icon)} 2s step-start infinite both;
// 		}
// 	}
// }
// .page5{
// 	&.kind1{
// 		.ani{
// 			background: $lyingPig no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($lyingPig)))) auto;
// 			@include retinaAnimation($lyingPig, $delay:true);
// 			animation: #{sprite-map-name($lyingPig)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind2{
// 		.ani{
// 			background: $monkey no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($monkey)))) auto;
// 			@include retinaAnimation($monkey, $delay:true);
// 			animation: #{sprite-map-name($monkey)} 2s step-start infinite both;
// 		}
// 	}
// 	&.kind3{
// 		.ani{
// 			background: $grandma no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($grandma)))) auto;
// 			@include retinaAnimation($grandma, $delay:true);
// 			animation: #{sprite-map-name($grandma)} 2s step-start infinite both;
// 		}
// 	}
// }
// .result{
// 	&.r1{
// 		.symbol{
// 			background: $fish no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($fish)))) auto;
// 			@include retinaAnimation($fish);
// 			animation: #{sprite-map-name($fish)} 2s step-start infinite both;
// 		}
// 	}
// 	&.r2{
// 		.symbol{
// 			background: $pixiu no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($pixiu)))) auto;
// 			@include retinaAnimation($pixiu);
// 			animation: #{sprite-map-name($pixiu)} 2s step-start infinite both;
// 		}
// 	}
// 	&.r3{
// 		.symbol{
// 			background: $noble no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($noble)))) auto;
// 			@include retinaAnimation($noble);
// 			animation: #{sprite-map-name($noble)} 2s step-start infinite both;
// 		}
// 	}
// 	&.r4{
// 		.symbol{
// 			background: $king no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($king)))) auto;
// 			@include retinaAnimation($king);
// 			animation: #{sprite-map-name($king)} 2s step-start infinite both;
// 		}
// 	}
// 	&.r5{
// 		.symbol{
// 			background: $superman no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($superman)))) auto;
// 			@include retinaAnimation($superman);
// 			animation: #{sprite-map-name($superman)} 2s step-start infinite both;
// 		}
// 	}
// }
// .offSide{
// 	&.o5{
// 		.symbol{
// 			background: $superman no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($superman)))) auto;
// 			// @include retinaAnimation($superman);
// 			animation: #{sprite-map-name($superman)} 2s step-start infinite both;
// 		}
// 	}
// 	&.o4{
// 		.symbol{
// 			background: $fish no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($fish)))) auto;
// 			// @include retinaAnimation($fish);
// 			animation: #{sprite-map-name($fish)} 2s step-start infinite both;
// 		}
// 	}
// 	&.o3{
// 		.symbol{
// 			background: $pixiu no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($pixiu)))) auto;
// 			// @include retinaAnimation($pixiu);
// 			animation: #{sprite-map-name($pixiu)} 2s step-start infinite both;
// 		}
// 	}
// 	&.o2{
// 		.symbol{
// 			background: $noble no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($noble)))) auto;
// 			// @include retinaAnimation($noble);
// 			animation: #{sprite-map-name($noble)} 2s step-start infinite both;
// 		}
// 	}
// 	&.o1{
// 		.symbol{
// 			background: $king no-repeat;
// 			background-size: pxToRem(round(image-width(sprite-path($king)))) auto;
// 			// @include retinaAnimation($king);
// 			animation: #{sprite-map-name($king)} 2s step-start infinite both;
// 		}
// 	}
// }
